body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 8px;
    margin: 8px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-top: 10px;
    margin-left: 20px;
}

.presente {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
} 
